<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161043231169-h750gjip6a9aecb79ient0gfqf32e0m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161043231169-h750gjip6a9aecb79ient0gfqf32e0m4</string>
	<key>API_KEY</key>
	<string>AIzaSyAZdxYbygcBvh-PVJbvtICbpwr2RisRME0</string>
	<key>GCM_SENDER_ID</key>
	<string>161043231169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kobe-saintfort-MR.LoginTest</string>
	<key>PROJECT_ID</key>
	<string>logintest-8fe3c</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-8fe3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:161043231169:ios:d1ba48be4d082f136aff40</string>
</dict>
</plist>
